[submodule "thirdparty/numbuf"]
	path = thirdparty/numbuf
	url = https://github.com/pcmoritz/numbuf.git
[submodule "thirdparty/arrow"]
	path = thirdparty/arrow
	url = https://github.com/pcmoritz/arrow.git
