[submodule "thirdparty/plasma"]
	path = thirdparty/plasma
	url = https://github.com/ray-project/plasma.git
[submodule "thirdparty/photon"]
	path = thirdparty/photon
	url = https://github.com/ray-project/photon.git
[submodule "thirdparty/numbuf"]
	path = thirdparty/numbuf
	url = https://github.com/ray-project/numbuf.git
[submodule "thirdparty/arrow"]
	path = thirdparty/arrow
	url = https://github.com/ray-project/arrow.git
[submodule "thirdparty/python"]
	path = thirdparty/python
	url = https://github.com/austinsc/python.git
	ignore = dirty
